VPNTORIS_MACOS_APPLICATION_IDENTITY=
VPNTORIS_MACOS_INSTALLER_IDENTITY=
VPNTORIS_MACOS_NOTARY_PROFILE=
VPNTORIS_WINDOWS_CERT_THUMBPRINT=
VPNTORIS_WINDOWS_CERT_STORE=My
VPNTORIS_WINDOWS_CERT_STORE_LOCATION=CurrentUser
VPNTORIS_WINDOWS_TIMESTAMP_URL=http://timestamp.digicert.com
VPNTORIS_LINUX_GPG_KEY_ID=
